.userPageDiv {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 7rem 5rem 5rem 5rem;

    width: 100vw;
    height: 100vh;

    place-content: center;
}

.userBtnDiv {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    overflow-wrap: break-word;
}