.productList {
    display: flex;
    padding: 2rem 1rem;
    gap: 2.4rem;

    place-items: center;
    place-content: center;
}

.mainProductSection {
    display: flex;
    gap: 3rem;

    justify-content: center;
    align-items: center;
}

.contentDiv {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}