.inputTitle {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    align-items: center;

    width: 100%;
}

.Title {
    padding-left: 0.5rem;
    align-self: flex-start;

    color: #2D3436;

    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;

    line-height: 1rem;
}

.inputContainer {
    display: flex;
    position: relative;
    margin-top: 0.3rem;

    width: 100%;
}

.inputBtnContainer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: relative;
    gap: 0.3rem;

    width: 100%;
}

.inputTag {
    flex: 1;
    padding: 0.3rem 0.7rem;

    align-self: center;

    height: 2rem;

    font-size: 1.3rem;
    font-family: 'Noto Sans', sans-serif;

    border: 2px solid #CCC;
    border-radius: 0.4375rem;
}

.eyeIcon {
    position: absolute;

    top: 35%;
    right: 3%;

    font-size: 1rem;
}

.eyeIconBtn {
    position: absolute;

    top: 35%;
    right: 23%;

    font-size: 1rem;
}

.failP {
    margin-top: 0.2rem;
    padding-left: 0.5rem;

    align-self: flex-start;

    font-size: 1rem;
    color: red;
}


