.logo {
    align-self: center;
    justify-items: center;

    width: 73.149px;
    height: 29.826px;
}

.bigLogo {
    align-self: center;
    justify-items: center;

    width: 156px;
    height: 96px;
}